.box1
{
    background: gold;
    height: 100px;
    width: 200px;
    margin: 20px;
}
.box2
{
    background:green;
    height: 100px;
    width: 200px;
    padding: 20px;
    margin: 20px;
}
.box3
{
    background-color: cornflowerblue;
    height: 100px;
    width: 200px;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
}
