.Container 
{
    background-color:rgb(204, 228, 248);
    height: 500px;
    padding:40px 0px;
    box-sizing: border-box;
}
.Container ul
{
    list-style: none;
    font-variant: small-caps;
    font-weight: bold;
}
h1
{
    background-color: aliceblue;
    text-align: center;
    font-variant: small-caps;
}
.Container .nav ul li a
{
    text-decoration: none;
}
.nav li a.Youtube
{
    background: url('../Images/ico-removebg-preview.png') no-repeat  0 0;
    display: block;
    margin-right:50px ;
    padding: 20px 80px 20px 70px;
    text-decoration: none;
}
.nav li a.Whatsapp
{
    background: url('../Images/ico-removebg-preview.png') no-repeat  0 -77px;
    display: block;
    margin: 20px;
    padding: 20px 60px 20px 70px;
    text-decoration: none;
}
.nav li a.Facebook
{
    background: url('../Images/ico-removebg-preview.png') no-repeat  -1px -146px;
    display: block;
    margin: 20px;
    padding: 20px 60px 20px 70px;
    text-decoration: none;
}
.nav li a.Instagram
{
    background: url('../Images/ico-removebg-preview.png') no-repeat  -1px -213px;
    display: block;
    margin: 20px;
    padding: 20px 60px 20px 70px;
    text-decoration: none;
}